@import './icon.css'

.swiper-pagination {
    .swiper-pagination-bullet-active {
      background: #de3e43;
    }
}

.clear {
  clear: both;
}

.app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: #fff;
}

.mint-toast {
    z-index: 5000;
}
